/* 
    Improved dashless channelnames with added selectors 
    https://discord.com/channels/1015060230222131221/1028106818368589824/1199849292853157888
*/

@font-face
 { font-family: "Twemoji Mozilla";
   src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
   unicode-range: U+1F1E6-1F1FF; }
@font-face
 { font-family: "dashless";
   size-adjust: 100%; /*adjust this to change word spacing*/
   src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
   unicode-range: U+002D; }
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[class^=titleWrapper] > h2, /* top bar in thread view */
[id^=":r"] > h1, /* topic popup */
[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
.channelWithIcon, /* channel mentions in chat */
[class^=emptyChannelIcon_] + h3, /* start of new channel */
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_], /* channel browser*/
[class^=returnButton_] [class^=text-], /*return button in channel browser*/
[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
.vc-permviewer-perms-title, /* permissionsviewer */
[class^=headerChannelContainer_] > div, /* invite to channel dialog */
[class^=uploadDropModal_] strong, /* file drag upload */
[class^=channelNameSpan_] /* inbox */
 { font-family: "Twemoji Mozilla", "dashless", var(--font-primary); }


/* https://discord.com/channels/1015060230222131221/1028106818368589824/1374372001354874912 */

@import url('https://raw.githubusercontent.com/Krammeth/css-snippets/refs/heads/main/PopoutsRevamped.css');

/* https://discord.com/channels/1015060230222131221/1028106818368589824/1370395931484360756 */

[class^="chipletContainerInner_"] > span > .unselectable__10651 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  will-change: max-width, margin;
  transition: max-width 0.7s cubic-bezier(0.34, 1.56, 0.64, 1), 
              margin 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}

[class^="chipletContainerInner_"]:hover > span > .unselectable__10651 {
  max-width: 20ch;
  margin-right: .3ch;
  /* Prevents it from triggering if you just quickly mouseover :D */
  transition-delay: 0.08s;
}

[class^="chipletContainerInner_"] > span > img.badge__10651 {
  margin-right: 0;
  transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1), 
              margin 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}

[class^="chipletContainerInner_"]:hover > span > img.badge__10651 {
  transform: rotateZ(360deg);
  margin-right: .6ch;
  /* Same as above transition delay */
  transition-delay: 0.08s;
}

[class^="chipletContainerInner_"] {
  position: relative;
}

[class^="chipletContainerInner_"]::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
}


/* https://discord.com/channels/1015060230222131221/1028106818368589824/1403857771295670343 */

.user-profile-modal-v2 {
    max-width: 620px !important;
    min-width: 0px !important;
    max-height: 600px !important;
    min-height: 0px !important;

    .inner_c0bea0 {
        padding: 0px !important;
        gap: 0px !important;
        flex-direction: column !important;
        container-type: size;
    }

    .profile__9c3be {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: var(--radius-md);
    }

    &.custom-theme-background {
        .inner_c0bea0 {
            padding: 4px !important;
            background: linear-gradient(100px(--profile-gradient-primary-color), 100px(--profile-gradient-secondary-color)) !important;
        }

        .profile__9c3be {
            width: calc(100% - 8px);
            height: calc(100% - 8px);
        }
    }

    .selected_b3f026 {
        color: var(--text-secondary) !important;

        &::after {
            display: none;
        }
    }

    .inner_c0bea0:has(.tabBarItem__37bfc:focus, .top_b3f026:focus, .tabBarPanel__37bfc:focus-within, .tabBarPanel__37bfc:focus) {
        .profile__9c3be {

            .markup__75297,
            .section_bf424d {
                visibility: hidden !important;
                pointer-events: none !important;
            }

        }

        .tabBarPanel__37bfc {
            display: flex !important;
            opacity: 1;
            pointer-events: all !important;
        }

        .top_b3f026::before {
            color: var(--text-secondary);
            border-bottom: none !important;
        }

        .selected_b3f026 {
            color: var(--selected-tab-item-color) !important;

            &::after {
                display: block !important;
            }
        }
    }

    .tabBarPanel__37bfc {
        opacity: 0;
        z-index: 999;
        pointer-events: none !important;
        padding: 0px 26px;
    }

    .container__37bfc {
        margin-top: 270px;
        padding: 18px 4px 26px;

        .top_b3f026 {
            padding-left: 26px;
        }
    }

    .banner__68edb {
        height: 100% !important;
        border-radius: 0px;
    }

    .profileHeader__9c3be {
        height: 320px !important;

        .mask__68edb {
            min-height: 0px !important;

            >foreignObject {
                mask: none;

                .banner__68edb {
                    min-height: 0px !important;
                    height: 100px !important;

                    &::before {
                        display: none;
                    }
                }
            }
        }
    }


    .profileButtons__9c3be {
        position: fixed;
        right: 26px;
        top: 230px !important;
    }

    .container__63ed3 {
        position: fixed;
        top: 220px !important;
        max-width: calc(var(--pmv1b-max-width) - 200px - 26px - 26px);
    }

    .profileBody__9c3be {
        margin-top: -2px;
        padding-top: var(--space-xl);
    }

    .top_b3f026::before {
        content: "User Info";
        color: var(--text-primary);
        border-bottom: 2px solid var(--text-primary) !important;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 13px;
        --tab-item-color: var(--text-primary);
        margin: 0px var(--space-xl) 0px 8px;
    }

    .empty_e766f2 {
        padding: 0px !important;
        justify-content: center;
    }

    .tabBarItem__37bfc:hover {
        color: var(--text-primary) !important;
        cursor: pointer;

        &::after {
            display: block;
        }
    }

    .profileAppConnections__9c3be {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .connection__9bfb9 {
        border: 1px solid var(--border-subtle) !important;
        border-radius: var(--radius-sm);
        padding: var(--space-sm);

        .accountName__9bfb9,
        .platformUrlAnchor__9bfb9,
        .connectionInfo__9bfb9 {
            width: 100%;
            justify-content: space-between;
        }
    }

    .connectionInfo__9bfb9 {
        justify-content: start;
        padding-top: 3px;
    }

    .connection__9bfb9:has(.metadata__9bfb9>.connectedAccountVanityMetadata_fffe42) {
        order: -1;

        .connectionInfo__9bfb9 {
            justify-content: center;
            padding-top: 0px;
        }
    }

    .wrapper__44b0c::before {
        content: "";
        position: absolute;
        left: -7.5%;
        top: -7.5%;
        width: 115%;
        height: 115%;
        border-radius: 50%;
        background: var(--profile-gradient-modal-background-color);
    }
}

