/* 
    Improved dashless channelnames with added selectors 
    https://discord.com/channels/1015060230222131221/1028106818368589824/1199849292853157888
*/

@font-face
 { font-family: "Twemoji Mozilla";
   src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
   unicode-range: U+1F1E6-1F1FF; }
@font-face
 { font-family: "dashless";
   size-adjust: 100%; /*adjust this to change word spacing*/
   src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
   unicode-range: U+002D; }
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[class^=titleWrapper] > h2, /* top bar in thread view */
[id^=":r"] > h1, /* topic popup */
[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
.channelWithIcon, /* channel mentions in chat */
[class^=emptyChannelIcon_] + h3, /* start of new channel */
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_], /* channel browser*/
[class^=returnButton_] [class^=text-], /*return button in channel browser*/
[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
.vc-permviewer-perms-title, /* permissionsviewer */
[class^=headerChannelContainer_] > div, /* invite to channel dialog */
[class^=uploadDropModal_] strong, /* file drag upload */
[class^=channelNameSpan_] /* inbox */
 { font-family: "Twemoji Mozilla", "dashless", var(--font-primary); }


/* https://discord.com/channels/1015060230222131221/1028106818368589824/1374372001354874912 */

@import url('https://raw.githubusercontent.com/Krammeth/css-snippets/refs/heads/main/PopoutsRevamped.css');

/* https://discord.com/channels/1015060230222131221/1028106818368589824/1370395931484360756 */

[class^="chipletContainerInner_"] > span > .unselectable__10651 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  will-change: max-width, margin;
  transition: max-width 0.7s cubic-bezier(0.34, 1.56, 0.64, 1), 
              margin 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}

[class^="chipletContainerInner_"]:hover > span > .unselectable__10651 {
  max-width: 20ch;
  margin-right: .3ch;
  /* Prevents it from triggering if you just quickly mouseover :D */
  transition-delay: 0.08s;
}

[class^="chipletContainerInner_"] > span > img.badge__10651 {
  margin-right: 0;
  transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1), 
              margin 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}

[class^="chipletContainerInner_"]:hover > span > img.badge__10651 {
  transform: rotateZ(360deg);
  margin-right: .6ch;
  /* Same as above transition delay */
  transition-delay: 0.08s;
}

[class^="chipletContainerInner_"] {
  position: relative;
}

[class^="chipletContainerInner_"]::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
}


